
.title{
	font-size: 48px;
	color: #8C52FF;
	text-shadow:
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
		-1px -1px 1px #000000,
		 1px -1px 1px #000000,
		-1px  1px 1px #000000,
		 1px  1px 1px #000000,
         4px 4px 0px #4a4545;

}
